<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <title>Azure App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header id="flex-header">
    <div class="cloud-header"></div>
    <h1>Jenil Desai</h1>
    <h2>Student ID - 1001520245</h2>
  </header>
  <main>
    <br>
    <p>
        <form action="/analyze_randomq" method="get">
          No of Queries <input type="number" name="count" width="5">
          <br>
          Source
          <select name="source">
              <option value="sqldb">SQL</option>
              <option value="cache">Cache</option>
            </select>
          <input type="submit" value="Search">
        </form>
      </p>
      <p>
          <form action="/analyze_sameq" method="get">
            No of Queries : <input type="number" name="count" width="5">
            <br>
            Mag from : <input type="float" name="s_mag" width="5"> to <input type="float" name="e_mag" width="5">
            <br>
            Source
            <select name="source">
                <option value="sqldb">SQL</option>
                <option value="cache">Cache</option>
              </select>
            <input type="submit" value="Search">
          </form>
        </p>
      <br>
      <form action="/upload_data" method="post">
      <input type="submit" value="Search">
      </form>
  </main>
</body>
</html>
