<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#   <script src="http://d3js.org/d3.v4.min.js"></script>#}
{#    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>#}


  <title>Azure App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header id="flex-header">
    <div class="cloud-header"></div>
    <h1>Jenil Desai</h1>
    <h2>Student ID - 1001520245</h2>
  </header>
  <main>
    <br>
    <p>

        <form action="/analyze_randomq" method="get">
           count :<input type="text" name="count" width="5">
            s mag :<input type="number" name="smag" width="5">
            e mag :<input type="number" name="emag" width="5">

          <br>
          Source
          <select name="source">
              <option value="sqldb">SQL</option>
              <option value="cache">Cache</option>
            </select>
          <input type="submit" value="Search">
        </form>
      </p>
      <p>
          <form action="/analyze_sameq" method="get">
            7. year: <input type="number" name="state" width="5">
            range 1 :<input type="number" name="range1" width="5"> end <input type="number" name="range1end" width="5">
            range 2 :<input type="number" name="range2" width="5"> end <input type="number" name="range2end" width="5">
            range 3 :<input type="number" name="range3" width="5"> end <input type="number" name="range3end" width="5">
            <br>
{#            Mag from : <input type="float" name="s_mag" width="5"> to <input type="float" name="e_mag" width="5">#}
            <br>
            Source
            <select name="source">
                <option value="sqldb">SQL</option>
                <option value="cache">Cache</option>
              </select>
            <input type="submit" value="Search">
          </form>
        </p>
      <br>
      <form action="/analyze_bl" method="get">
{#          . count :<input type="text" name="count" width="5">#}
            blpercent start :<input type="number" name="smag" width="5">
            end :<input type="number" name="emag" width="5">

          <br>
          Source
          <select name="source">
              <option value="sqldb">SQL</option>
              <option value="cache">Cache</option>
            </select>
          <input type="submit" value="Search">
        </form>
{#      <form action = "http://localhost:5000/uploader" method = "POST" #}
{#         enctype = "multipart/form-data">#}
{#         <input type = "file" name = "file" />#}
{#         <input type = "submit"/>#}
{#      </form>#}
{#      <form action="/upload_data" method="POST" enctype = "multipart/form-data">#}
{#          <input type = "file" name = "file" />#}
{#      <input type="submit" value="Search">#}
{#      </form>#}
{#       <form action="/upload_data" method="POST" enctype = "multipart/form-data">#}
{#          <input type = "file" name = "file" />#}
{#      <input type="submit" value="Search">#}
{#      </form>#}
  </main>
</body>
</html>
